@charset "utf-8";
/* CSS Document */

a:link {
	color:#FFF;
	text-decoration:none;
}

a:visited {
	color:#FFF;
	text-decoration:none;
}

a:hover {
	/*color:#FF0;*/
}

td.tableTitle {
	background-color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
}

td.tableHeader {
	background-color:#d9e4d6;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}

td.tableFooter {
	background-color:#d9e4d6;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}

td.tableRow {
	background-color:#c2dad2;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-align:left;
}

td.tableLink {
	background-color:#c2dad2;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center;	
}

a.tableLink:link {
	color:#00C;
	text-decoration:underline;
}

a.tableLink:visited {
	color:#00C;
	text-decoration:underline;
}

a.tableLink:hover {
	color:#000;
	text-decoration:underline;	
}

select.listCheckBox, ul { height: 100px; overflow: auto; width: 100px; border: 1px solid #000; }
ul { list-style-type: none; margin: 0; padding: 0; overflow-x: hidden; }
li { margin: 0; padding: 0; }
label { display: block; color: WindowText; background-color: Window; margin: 0; padding: 0; width: 100%; }
label:hover { background-color: Highlight; color: HighlightText; }

input.txtRightAlign {
	text-align:right;
}

td.tdcallinfo {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

td.tdqueue {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
}

table.tblqueue {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	width:100%;
	border:1px solid black;
}

th.thqueue{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:1px solid black;
}